<div>
  <link href="./blog-post-card.css" rel="stylesheet" />
  <div class="blog-post-card-blog-post-card">
    <div class="blog-post-card-container"></div>
    <div class="blog-post-card-container1">
      <span class="blog-post-card-text">
        <span>Chic sofa designs for 2022</span>
      </span>
      <span class="blog-post-card-text1">
        <span>
          Consectetur adipiscing elit duis tristique sollicitudin nibh
        </span>
      </span>
      <button class="blog-post-card-button button"><span>Buy Now</span></button>
    </div>
  </div>
</div>
