.blog-post-card-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 400px;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.blog-post-card-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card-container {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 299px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/school-female-uniform-supplies-isolated-white-child-s-education-girl-s-study-objects-accessories-background-63845876-1500w.jpg");
  background-position: center;
}
.blog-post-card-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card-text {
  color: var(--dl-color-gray-black80);
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card-text1 {
  color: var(--dl-color-gray-black50);
  font-size: 16px;
  font-style: normal;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card-button {
  padding-right: var(--dl-space-space-unit);
}

@media(max-width: 991px) {
  .blog-post-card-blog-post-card {
    max-width: 48%;
  }
}
@media(max-width: 767px) {
  .blog-post-card-blog-post-card {
    max-width: 100%;
  }
}
